/*This is the base background color, will be updated to be a better theme later */
body {
  background-image: url("../images/image3.jpg");
  background-color: rgb(182, 210, 214); /*Will load to this color if background image error */
  background-size: auto ;
}

/* This class is used for custom headings, mostly with resume page to highlight sections */
.customHeading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
  color: black;
  }

  /* this class is used with the div tag to create a menu for the website on each page */
.nav {
  height: 100%;
  width: 11%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(8, 8, 8);
  overflow-x: hidden;
  padding-top: 20px;
}

/* This class is used for the menu on each page with the div element*/
.nav a {
  padding: 6px 6px 6px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* This class targets hover behavior for menu with div element */
.nav a:hover {
  color: #f1f1f1;
}

/* this class targets behavior for active tab on the menu with div element */
.nav a.active {
  background-color: #b19128;
  color: white;
}

/* this class is used with div elements to adjust margins spacing so that menu options
do not overwrite/head main text */
.moveright {
  margin-left: 220px;
} 

/* This class is used for div tags for spacing purposes, close enough to be related to text
but far enough to be related */
.sectionBlocks {
  line-height: height 50px;
  margin-top:10px;
  margin-bottom:10px
  }
  
/* this is the base paragraph style */
p {
  color: black;
  margin-top:0;
  margin-bottom:0;
}

/*This class sets the footer away from the main content and shifts right to avoid being covered
by the nav menu*/
.footer {
  margin-left: 140px;
  margin-top: 50px;
}

